@mixin border-and-shadow {
  border: solid #ddd 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 2);
}

.box {
  @include border-and-shadow;
}

@mixin custom-button {
  padding: 0;
  text-decoration: none;
  display: flex;
}

.custom-button {
  @include custom-button;
}

@mixin flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  @include flex-container;
}

@mixin alert-box {
  padding: 0;
  border: 0;
}

.alert-box {
  @include alert-box;
}

@mixin custom-card($bg-color) {
  background-color: $bg-color;
  box-shadow: rgba(0, 0, 0, 2);
}

.custom-card {
  @include custom-card($color: #e9e9e9);
}
