body {
  background: linear-gradient(80deg, #f4f1ec -56.99%, #fff 52.69%);
}

.heading {
  margin: 80px;
  display: flex;
  align-items: center;
  inline-size: auto;
  justify-content: space-between;
}

.menu {
  /* margin-left: 246px; */
  /* justify-content: space-around; */
  /* gap: 56px; */
  display: inline-flex;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu a {
  margin: 0 20px;
}
.access a {
  margin: 0 20px;
  color: #000;
}
#signin {
  color: #f38160;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
.access button {
  padding: 15px;
  background-color: #f38160;
  color: #fff;
  border-radius: 16px;
  border: none;
  font-size: 15px;
}
#access {
  margin: 40px;
  gap: 40px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
#homer {
  text-decoration: none;
  color: var(--Red, #f38160);
  /* Text 2 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: #f38160 solid 1px;
}
#home {
  text-decoration: none;
}
.search {
  display: flex;
  margin-left: 80px;
}
::placeholder {
  background: rgba(208, 208, 210, 0.25);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.view {
  margin-left: 480px;
  margin-top: -550px;
}
.features {
  display: flex;
  margin-left: 80px;
  gap: 20px;
  row-gap: -20px;
}
.subfeat {
  display: flex;
  font-family: "Poppins";
  gap: 5px;
}
.Description {
  display: flex;
  text-decoration: none;
}
#desc {
  display: flex;
}
.columnOne {
  margin-left: 80px;
  margin-top: 152px;
}
.title {
  color: var(--Black, #403c39);
  width: 760px;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.8px;
}

.comment {
  width: 560px;
  color: var(--Gray-2, #949494);
  /* Text 1 */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: -60px;
}
.categories {
  display: flex;
  margin-left: 80px;
  row-gap: 100px;
}

#cathead {
  text-align: left;
  font-family: "Poppins";
}
#catsub {
  margin-bottom: -8px;
  margin-top: -8px;
}
.backsquare {
  display: flex;
}
