* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  margin: 0 auto;
  width: 25%;
  margin-top: 20px;
  padding: 0px;
}

.bodywork {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  padding: auto;
  grid;
}

.head {
  text-align: center;
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.projectname {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#projectname {
  border-radius: 5px;
  width: 250px;
  height: 25px;
}
.assignedto {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#assignedto {
  border-radius: 5px;
  width: 250px;
  height: 25px;
}
.startdate {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#startdate {
  border-radius: 5px;
  width: 250px;
  height: 25px;
}
.enddate {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#enddate {
  /* border-radius: 5px;
  width: 250px;
  height: 25px; */
}
.priority {
  display: flex;
  gap: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Description {
  display: flex;
  gap: 30px;
}
.buttons{display: flex;
justify-content: center;
gap: 10px;}
