body {
  background-color: white;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  border: 10px solid bisque;
  border-radius: 20px;
  width: 1200px;
  height: 600px;
  box-sizing: 0;
}

.secimg {
  background-color: bisque;
  /* border-radius: 50%; */
}
.sectiontwo {
  justify-self: center;
  width: 500px;
  /* padding: 50px 50px; */
  /* padding-bottom: 200px; */
  border-radius: 20px;
}
.sectionone {
  padding-left: 100px;
  background-color: bisque;
}

#heado {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin-top: 100px;
}
#desc {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin-top: -20px;
  font-size: 10px;
}
.yourname {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}
#Name {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  width: 220px;
  margin-top: -100px;
  border-radius: 4px;
}
.email {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}
#mail {
  margin-top: -300px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  width: 220px;
  border-radius: 4px;
}
.password {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
.pword {
  margin-bottom: 0px;
}
#pword {
  width: 220px;
  border-radius: 4px;
}
.buttons {
  margin-top: 20px;
}
#signin {
  padding-right: 176px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
#create {
  padding-right: 115px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
.contact {
  display: flex;
  margin-top: 20px;
  margin-left: -10px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  gap: 7px;
  margin-top: 40px;
}
#mailus {
  height: 24px;
  width: 24px;
  margin-top: 15px;
}
