.all {
  row-gap: -20px;
}

.A {
  border-bottom: 1px solid red;
  border-right: 1px solid red;
}
td:hover {
  border-color: black;
}
.B {
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;
}

.C {
  border-bottom: 1px solid red;
  border-left: 1px solid red;
}
.D {
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  border-top: 1px solid red;
}
.E {
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;
  border-top: 1px solid red;
}
.F {
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-top: 1px solid red;
}
.G {
  border-top: 1px solid red;
  border-right: 1px solid red;
}
.H {
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;
}
.I {
  border-top: 1px solid red;
  border-left: 1px solid red;
}
